*{
  margin: 0;
  padding: 0;
}

 html body {
  background-color: rgb(217, 205, 213);

}

#drum-machine{
   display: flex; 
  flex-direction: column;
  width: 40%; 
  min-width: 30%;
  min-height: 50%;
  /* height: 100vh; */
  justify-content: center;
  justify-items: center;
  align-items: center;
   background-color: rgb(135, 160, 182);
  border:  3px solid rgb(205, 127, 127);
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
   margin-left:30%;
   margin-right: 30%;
   /* padding-top: 2%; */
   padding-bottom: 2%;
  /* padding: 200px 200px;   */
  /* box-shadow: 1px 0px 10px 10px rgb(40, 46, 45); */
}

#dis{
  display: grid;
  grid-template-columns: repeat(3,40px [col-start]);
  padding-top: 5%;
  /* padding-bottom: 10%; */

  /* width: 450px; */
   gap:30px; 
  justify-content: center;
  
}

.drum-pad{
  width: 50px;
  
  height: 50px;
 
  border: 0.5px solid black;
   box-shadow: 2px 2px 2px 0px rgb(20, 24, 24);  

}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 45%;
 
  background-color: #bcabc6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50% ;
  
}

input:checked + .slider {
  background-color: #ccc;
  /* background-color: #c8a2dc; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #a2b5c6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.power-bank{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
 
}
.bank {
  margin:5%
}
.power{
  margin: 5%;
}